<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="stylesheets/main/main.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <!-- jquery Css -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">



</head>

<body>

  <!-- column -->
  <div id="TODO">
    <h1>Todo</h1>
    <div class="column" id="todo">

    </div>
  </div>
    

    <!-- column -->
   <div id="DOING">
    <h1> Doing </h1>
    <div class="column" id="doing">

    </div>
   </div>


    <!-- column -->
    <div id="Done">
      <h1> Done </h1>
      <div class="column" id="done">

      </div>
    </div>
  </div>



  <!-- 
    <div class="container">
        <div class="content row d-flex justify-content-between">
            <div id="todo" class="col-3">TODO</div>
            <div id="doing" class="col-3">DOING</div>
            <div id="done" class="col-3">DONE</div>
        </div>
    </div> -->




</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
  integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="javascripts/main/main.js"></script>

</html>